@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', 'Helvetica Neue', sans-serif;
}

.app {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    justify-content: center;
    margin: auto;
    color: black;
}

.container {
    border: 1px solid #ddd;
}

h1,h2,h3,h4, p {
  margin: 0;
  padding: 3px 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

.loader {
  display: flex;
}